<!-- infraesctructure -->

<!-- this content will be injected -->
  <ion-view view-title="Transportation"><ion-content>
    <map center="{{ currentUser.latitude }},{{ currentUser.longitude }}" zoom="14">
      <transit-layer></transit-layer>
    </map>
    <div class="card">
      <div class="item item-divider">
        Transportation in {{ currentUser.presentation }}
      </div>
      <ion-item ng-repeat="tran in trans">
             <div ng-bind-html="tran.extract" class="item item-text-wrap" ellipsis></div>
      </ion-item>

      <ion-item ng-if="transport">
             <div ng-bind-html="transport" class="item item-text-wrap" ellipsis></div>
      </ion-item>
    </div>
  </ion-content></ion-view>