<!-- account / index -->

<!-- this content will be injected -->
	<ion-view view-title="Profile"><ion-content>
<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="false" series="Usage" click="onClick"></canvas>
        <!--div class="item item-image">
            <img src="img/logo200x200.png" >
        </div>

		<div class="card">
		  <div class="item item-divider">
		    Account - Index
		  </div-->
	    <div class="card">
		  <div class="item item-text-wrap">
		    {{ message }}
		  </div>
		</div>
	</ion-content></ion-view>