<!-- account / register -->

<!-- this content will be injected -->
        <ion-view view-title="User Registration"><ion-content>
         <div class="list list-inset">

           <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" name="email" id="email_id" ng-model:"account.email">
           </label>

           <button class="button button-block button-stable">
              Register
           </button>
        </div>
      </ion-content></ion-view>